<!DOCTYPE html>

<html lang="en">
<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script type="text/javascript" src="javaRacer.js"></script> 


<div class="container">
<head>
  <link rel="stylesheet" href="normalize.css">
  <link rel="stylesheet" href="main.css">
  <title></title>
</head>
<body>
    
  <div id="racetrack">

    <div class="racerstrip">
      <div id="racer1"></div>
    </div>
    
      <br>
      
    <div class="racerstrip">
      <div id="racer2"></div>
    </div>

  </div>

  <div id="GO">
    
    <div id="red"></div>
    <div id="orange"></div>
    <div id="yellow"></div>
    <div id="green"></div>
    
  </div>

</body>
</div>
</html>
