<div class="container">
  <div id="racetrack">

    <div class="racerstrip">
      <div id="racer1"></div>
    </div>
    
      <br>
      
    <div class="racerstrip">
      <div id="racer2"></div>
    </div>

  </div>

  <div id="GO">
    
    <div id="red"></div>
    <div id="orange"></div>
    <div id="yellow"></div>
    <div id="green"></div>
    
  </div>

</body>
</div>
